<div class="card flex flex-wrap justify-center gap-6 cursor-pointer">
  <p-overlay-badge value="{{ notificationService.getCount() | async}}" severity="danger" [badgeDisabled]="(notificationService.getCount() | async) == 0">
    <i class="pi pi-bell" style="font-size: 2rem" (click)="showNotification($event)"></i>
  </p-overlay-badge>
</div>
<p-popover #popup>
  <div class="flex flex-col gap-4 w-[25rem]">
    <div>
      <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2">Share this document</span>
      <p-inputgroup>
        <input pInputText value="https://primeng.org/12323ff26t2g243g423g234gg52hy25XADXAG3" readonly class="w-[25rem]" />
        <p-inputgroup-addon>
          <i class="pi pi-copy"></i>
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>
    <div>
      <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2">Invite Member</span>
      <div class="flex">
        <p-inputgroup>
          <input pInputText disabled />
          <button pButton label="Invite" icon="pi pi-users"></button>
        </p-inputgroup>
      </div>
    </div>
    <div>
      <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2">Team Members</span>

    </div>
  </div>
</p-popover>
<p-toast />
